* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5b8b5;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    text-align: center;
    font-size: 30px;
}

table {
    border: 1px #EAE1DF solid;
    font-size: 25px;
    margin-left: 130px;
    margin: auto;
}

tr {
    border: 1px #EAE1DF solid;
}

td {
    border: 1px #EAE1DF solid;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: center;
}

button {
    border: 0px;
    background-color: #667761;
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
}

.container {
    width: 1100px;
    margin: auto;
}

#div_game {
    background-color: #EAE1DF;
    margin: auto;

    width: 800px;
    height: 800px;
}

#div_questions {
    background-color: #EAE1DF;
    width: 700px;
    margin: auto;
}

.button {
    margin: auto;
    display: inline-block;
}

#button_verify {
    width: 100px;
    margin: auto;
}

#input_answer {
    width: 100px;
    margin: auto;
}

.deadCell {
    background-color: #EAE1DF;
}

.availableCell {
    background-color: #ffffff;
}

footer {
    height: 80px;
    background-color: #667761;
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 0;
    padding: 0;
    bottom: 0;
}

footer p {
    text-align: center;

}

#div_information {
    width: 500px;
    margin: auto;
    background-color: #EAE1DF;
    font-size: 20px;
}

#div_verifiedAnswer {
    width: 500px;
    height: 70px;
    margin: auto;
    text-align: center;
    font-size: 20px;
    vertical-align: center;
    margin-bottom: 20px;
}

.correctAnswer {
    background-color: #58D68D;
    color: #196F3D;
    border: 1px #196F3D solid;
}

.wrongAnswer {
    background-color: #EC7063;
    color: #7B241C;
    border: 1px #7B241C solid;

}